<!-- Optional additional links to insert for icons links -->
<a id="orcid-link"
       class="icon" title="ORCID record" aria-label="ORCID record"
       href="https://orcid.org/0000-0002-1544-1381">
      {% include svg/orcid.svg %}
</a>
<a id="ads-link"
       class="icon bigger" title="ADS search" aria-label="ADS search" style="height:1.5em;width:1.5em"
       href="https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0002-1544-1381&sort=date+desc">
      {% include svg/ads.svg %}
</a>
<a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="https://github.com/folsomde">
      {% include svg/github.svg %}
</a>
