<meta name="description" content="Personal academic website for Dylan Folsom, Physics Ph.D. student at Princeton University">
<meta name="author" content="Dylan Folsom">

<script data-goatcounter="https://dfolsom.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<div style="display: none">
$\require{cancel}$
$\require{physics}$
$\require{mathtools}$
</div>
