<div id="sidebar">
  <header>
      {% comment %}<img class="headshot" src="https://images.squarespace-cdn.com/content/v1/58a8b368d1758e8411790a59/38216b13-9b1d-4d40-96ea-3f634032e813/dylan_folsom.jpg?format=300w">{% endcomment %}
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}


  {% include sidebar-icon-links.html %}
  <span style="font-size:9pt" class="site-version">Last update {{site.time | date_to_long_string}}</span>
  {% include copyright.html %}
</div>