---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>

<div class="content">

  {{ content }}
  <hr>
  {% assign posts = site.posts 
      | where_exp: 'post', "post.categories contains page.posts_to_show"
  %}
  {% for post in posts %}
  <article class="post-body">
    <h3 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h3>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
    <a class="plaintext" href="{{ post.url | relative_url }}">
      {{ post.excerpt }}
      </a>
    {% else %}
      {{ post.content }}
    {% endif %}
    {% if post.thumbnail %}
      <a class=thumbnail href="{{ post.url | relative_url }}"> <img src="{{ post.thumbnail }}"/> </a>
    {% endif %}
  </article>
  {% endfor %}

</div>