---
layout: page
---

<!-- With added pipe to handle lack of sort_natural -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first | downcase }}|{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
<!-- site.tags: {{ site.tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->
{% assign used_tags = "" | split: "|" %}
<div id="tags-page">
  <h2>Subjects</h2>
  {% assign field_names = "Mechanics,E&M,QM,Statmech" | split:',' %}
  <div class="tags-list">
  	{% for tag in field_names %}
  	{% assign used_tags = used_tags | push: tag%}
      <a href="#{{ tag | slugify }}" class="tag-link">
        <span class="tag-name">{{ tag }}</span>
        <span class="tag-count">{{ site.tags[tag] | size }}</span>
      </a>
      {% endfor %}
  </div>

  <h2>Exams</h2>
  <div class="tags-list">
    <table class='empty'>
  <tr>
      {% for year in (1998..2018) %}
      {% for exam in (0..1) %}
      {% capture tag %}{% cycle 'J', 'M'%}{{ year | slice: -2,2 }}{% endcapture %}
  	{% assign used_tags = used_tags | push: tag %}
    {% assign uses = site.tags[tag] | size%}
    {% if uses == 0%}
    <td><a class="tag-link">
        <span class="tag-name zero-text">{{ tag }}</span>
        <span class="tag-count zero-count">{{ site.tags[tag] | size }}</span></a></td>
    {% else%}
      <td><a href="#{{ tag | slugify }}" class="tag-link">
        <span class="tag-name">{{ tag }}</span>
        <span class="tag-count">{{ site.tags[tag] | size }}</span>
      </a></td>
      {%endif%}
      {% endfor %}
    {% cycle '', '', '</tr><tr>'%}
      {% endfor %}
    </tr></table>
  </div>


  <h2>Topics</h2>
  <div class="tags-list">
      {% for tag_pair in tag_words %}
      {% assign tag = tag_pair | split:'|' | last %}
      {% if used_tags contains tag %}
      {% else%}
      <a href="#{{ tag | slugify }}" class="tag-link">
        <span class="tag-name">{{ tag }}</span>
        <span class="tag-count">{{ site.tags[tag] | size }}</span>
      </a>
      {% endif %}
      {% endfor %}
  </div>
  <hr/>

  <div class="posts-by-tag">
    {% for tag_pair in tag_words %}
    {% assign tag = tag_pair | split:'|' | last %}
    <div id="{{ tag | slugify }}" class="posts-for-tag">
      <h2>{{ tag }}</h2>
      <ul class="posts-list">
        {% for post in site.tags[tag] %}
          <li>
            <h3>
              <a href="{{ post.url | relative_url }}">
                {{ post.title }}
                <small>{{ post.date | date: '%B %Y' }}</small>
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
